apiVersion: apps/v1
kind: Deployment
metadata:
  name: userportal
  labels:
    app: userportal
spec:
  replicas: 2
  selector:
    matchLabels:
      app: userportal
  template:
    metadata:
      labels:
        app: userportal
    spec:
      containers:
      - name: userportal
        image: ${ECR_REGISTRY}/userhub:${IMAGE_TAG}
        ports:
        - containerPort: 8080
        env:
        - name: DB_URL
          value: "jdbc:mysql://mysql:3306/userdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
        - name: DB_USER
          value: "timi"
        - name: DB_PASS
          value: "rootpass"
---
apiVersion: v1
kind: Service
metadata:
  name: userportal-service
spec:
  selector:
    app: userportal
  ports:
  - port: 80
    targetPort: 8080
  type: LoadBalancer